input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color:  $search-copy-color;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: $search-copy-color;
}
