<!DOCTYPE html>
<html class="no-js">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Craft3</title>
  <link rel="stylesheet" href="{{ mix("/styles/main.css") }}" media="screen, projection"/>
</head>

<body data-section="{{ (entry.section is defined and entry.section.handle is defined) ? entry.section.handle : 'generic' }}">
  {% block content %}
  {% endblock %}
  <script type="text/javascript" src="{{ mix("/scripts/manifest.js") }}"></script>
  <script type="text/javascript" src="{{ mix("/scripts/vendor.js") }}"></script>
  <script type="text/javascript" src="{{ mix("/scripts/main.js") }}"></script>
</body>
</html>
